.loaderanimation {
  left: 0px;
  position: absolute;
  text-align: center;
  color: gray;
  top: 50%;
  width: 100%;
  z-index: 9999;
  animation: 2s linear 0s 6 alternate none running fadein;
  display: none;
}

.mainWordsContainer {
  margin: auto;
  margin-left: 7.5em;
}

a:hover {
  cursor: pointer;
}

.wordsHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  margin-top: 1em;
}

.titleHeader {
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  color: black;
}

.pagesContainer {
  text-align: center;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.wordpagesLinks {
  color: black;
  margin-right: 0.7em;
  margin-left: 0.7em;
}

.wordpagesLinks:hover {
  color: #ffbb54;
}

.wordpagesLinks:focus {
  color: black;
}

.wordpagesLinks.active {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.seperator {
  color: #acacac;
  font-size: 1.5em;
  font-weight: 200;
}

.topMessageContainer {
  text-align: center;
  margin: auto;
  background-color: #ffbe007a;
  border-radius: 0.9em;
  width: 29em;
  margin-bottom: 0.5em;
}

.topMessage {
  padding: 1em;
  font-family: Montserrat;
  font-size: 0.8em;
  font-weight: 300;
  color: black;
}

.outerDate {
  margin: auto;
  width: 29em;
}

.dateContainer {
  background-color: #ffbb54;
  text-align: center;
  width: 15em;
  height: 1.5em;
  border-radius: 1em;
}

.date {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 0.8em;
  padding-top: 0.3em;
  color: black;
}

.articleContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  margin: auto;
  width: 29em;
}

.verticalLine {
  margin-left: 1em;
  width: 3px;
  height: 50px;
  float: left;
  background-color: #ffbb54;
  margin-top: 0.5em;
}

.titleContainer {
  width: 570px;
  float: left;
}

.articleTitle {
  font-family: Montserrat;
  font-size: 0.9em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: 400;
  color: black;
}

.openArticle {
  background-color: #ffbb54;
  background-color: #ffbb54;
  height: 2em;
  width: 5em;
  border-radius: 2em;
  text-align: center;
  margin-top: 1em;
  margin-right: 1em;
  display: table;
}

.open {
  color: black;
  display: table-cell;
  vertical-align: middle;
}

.open:hover {
  color: black;
  font-weight: 400;
}

.openButton {
  float: left;
  padding-left: 0em;
  height: 1.5em;
  width: 4em;
  margin-top: 0.7em;
  background-color: #ffbb54;
  border-radius: 1em;
  text-align: center;
}

.openArticle {
  font-family: Montserrat;
  font-size: 0.7em;
  font-weight: 300;
  color: black;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: none;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.table {
  margin-left: 2em;
  margin-bottom: 0;
  margin: auto;
  width: 29em;
}

.impression {
  font-family: Montserrat;
  font-size: 0.9em;
  font-weight: 300;
  color: black;
  text-transform: lowercase;
  margin-left: -1em;
}

.StarredContainer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: 300;
  height: 4em;
  margin: auto;
  width: 34em;
  padding-left: 2em;
}

.one {
  float: left;
  height: 45px;
}

.two {
  float: left;
  margin-left: 0.7em;
  margin-top: 1.3em;
}

.three {
  float: left;
  flex-grow: 2;
  overflow: hidden;
  margin-left: 1em;
  margin-top: 1.45em;
}

.four {
  text-align: center;
  float: left;
  width: 5em;
  height: 1.5em;
  border-radius: 2em;
  margin-top: 1.1em;
  display: table;
}

.five {
  float: right;
  margin-top: 1.3em;
  margin-right: 3em;
}

.rank  {
  color: #ffbb54;
  font-size: 0.8em;
  font-weight: 500;
  width: 1.5em;
  border: 0.1em solid #ffbb54;
  margin-top: 1.3em;
  margin-right: 5em;
}

.one.trash {
  margin-top: 1.16em;
}

.topWords {
  height: 3.5em;
  margin: auto;
  margin-bottom: 1em;
  padding-left: 4em;
}

.importance {
  width: 38em;
  font-family: Montserrat;
  font-size: 0.8em;
  text-align: right;
  color: black;
  margin: auto;
}

.learnedWordsContainer {
  font-family: Montserrat;
  width: 30em;
  margin: auto;
}

.amount {
  text-align: center;
  font-size: 0.8em;
  color: black;
  margin-top: 1em;
}

.oneLearnedWord {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.learnedWords {
  flex-grow: 2;
  margin-top: 1em;
  margin-left: 1em;
}

.translation {
  font-size: 0.9em;
  color: black;
  text-transform: lowercase;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.learnedDate {
  font-size: 0.8em;
  font-weight: 300;
}

.deleteLearned {
  margin-top: 1em;
  margin-right: 1em;
  font-size: 0.9em;
}

.learned {
  height: 4em;
}

.top {
  margin-right: 1em;
  margin-left: 0em;
}

@media only screen and (max-width: 420px) {
  body {
    position: fixed;
  }

  .mainWordsContainer {
    top: 0;
    bottom: 0;
    position: relative;
    overflow: scroll;
    margin-left: 0em;
  }

  .titleHeader {
    width: 100vw;
    font-size: 7vw;
  }

  .pagesContainer {
    width: 100vw;
    padding-top: 1.5vh;
    font-size: 3vw;
  }

  .wordpagesLinks {
    margin: 0;
  }

  .topMessageContainer {
    width: 96vw;
    margin-left: 2vw;
    margin-bottom: 4vw;
  }

  .topMessage {
    font-size: 0.75em;
  }

  .outerDate {
    margin-left: 2vw;
    width: unset;
  }

  .articleContainer {
    width: 98vw;
    margin-left: 1vw;
  }

  .openArticle {
    width: 4em;
  }

  .customP {
    line-height: 2em;
  }

  .rank {
    line-height: 1.5em;
  }

  .table {
    width: 92vw;
    margin-left: 4vw;
  }

  .StarredContainer {
    width: 104vw;
    margin-left: -6vw;
  }

  .amount {
    width: 100vw;
  }

  .oneLearnedWord {
    width: 100vw;
  }

  .topWords {
    margin-left: -10vw;
  }

  .importance {
    width: 87vw;
    font-size: 3vw;
  }

  .word-rank {
    display: table-cell;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
  .titleHeader {
    margin-top: 5vh;
  }

  .articleContainer {
    width: 104vw;
    margin-left: -2vw;
  }

  .table {
    width: 95vw;
    margin-left: 0vw;
  }

  .StarredContainer {
    width: 108vw;
    margin-left: -9vw;
  }

  .oneLearnedWord {
    width: 104vw;
    margin-left: -2vw;
  }

  .topWords {
    width: 110vw;
    margin-left: -15vw;
  }

  .importance {
    width: 84vw;
  }
}
