.modal,
.modal *{
    all: revert;
}

#zeeguuImage {
    max-height: 400px !important;
    width: auto !important;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,208,71);
  }
