* {
  -webkit-tap-highlight-color: transparent;
  font-family: Montserrat;
}

.articleHeader {
  position: sticky;
  background-color: transparent;
  box-shadow: none;
}

.textParagraph {
  margin-bottom: 1.5em;
}

.articleLayout {
  margin-left: 12.5em;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}

.layout__content {
  position: relative;
  padding-top: 0.3em;
  padding-bottom: 1em;
  background-color: white;
  overflow-y: overlay;
}

/*
.is-casting-shadow {
  box-shadow: 0em 0em 1em lightgray !important;
} */

z-tag {
  cursor: pointer;
  /* margin-right: 1em; */
  display: inline-block;
  margin: 0;
  line-height: 29px;
}

z-tag.loading {
  animation: fadein 1s 0s infinite linear alternate;
}

/*  z-tag tag hover changes color, translated word hover no underline or color*/

z-tag:hover {
  color: #ffbb54;
  border-bottom: 1px dashed #ffbb54;
  border: none;
}

/* the translation - above the origin word
   the font is thin until the user contributes or selects an alternative
   highlights the fact that we are not sure of the translation ...
   */

z-tag z-tran {
  display: block;

  margin-top: -9px;
  margin-bottom: 0;

  padding: 2px;

  border-radius: 0.3em 0.3em 0.3em 0.3em;
  background-clip: padding-box;

  background-color: #ffe086;

  font-size: medium;
  line-height: 1em;
  max-width: 24em;
  font-weight: 300;
  color: #4f4f4f;
  text-transform: lowercase;
  text-align: center;
}

z-tag z-tran:hover {
  color: black;
}

/*
    the original word decoration; a simple dashed underline highlights
    the fact that we are not sure of the translation; underline becomes
    solid if the user selects an alternative, confirms this one, or
    uploads a new translation
*/
z-tag z-orig {
  border-bottom: 1px dashed #ffbb54;
  width: 100%;
  color: #ffbb54;
}

/* when there are multiple translations, we mark this with a little
green downwards pointing triangle; we used to mark also single alternatives
 but for now there's no marking for them */

z-tag z-tran moreAlternatives {
  font-size: 0.5em;
  float: right;
  width: 1em;
  padding-left: 0.5em;
}

z-tag z-tran moreAlternatives {
}

.arrow {
  content: '▼';
  color: #4f4f4f;
}

z-tag z-tran moreAlternatives:after {
  content: '▼';
  color: #4f4f4f;
}

/* once the user has
 - selected an alternative we change
  the class to handSelected
 - contributed their own alternative
  by typing (handContributing) we change
  the class to handContributed

  these classes currently show a mini
  animation
 */
.handSelected,
.handContributed {
  width: 1.5em;
  text-align: center;
}

.handSelected:after,
.handContributed:after {
  display: hidden;
  opacity: 0.1;
  transition: visibility 0s 2s, opacity 2s linear;
}

.handSelected:after {
  content: ' ';
  color: white;
}

.handContributed:after {
  content: ' ';
  color: white;
}

/* When an alternative is selected or a translation is uploaded
we highlight this by changing the style of both the translation
(normal font weight) and origin (solid underline)

why? there are two selectedAltenative and contributedAlternative
classes for the origin... because at some point we were considering
distinguishing between the two types of contribution... eventually
that made the UI too heavy ... */

.selectedAlternative,
.contributedAlternativeTran {
}

.selectedAlternativeOrig,
.contributedAlternativeOrig {
}

z-tag z-tran[chosen]:after {
  content: attr(chosen);
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  height: 3.5em;
  margin-top: 1.5em;
  margin-right: 2em;
  margin-bottom: 2.5em;
}

.tool {
  width: 55px;
  height: 55px;
  background-color: #ffe086;
  border-style: none;
  box-shadow: none;
  border-radius: 10px;
  margin: 10px;
  padding: 1px;
}

.main-tools {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.click_translate {
  width: 100%;
}

#toggle_translate:hover {
  cursor: pointer;
}

#toggle_translate.selected {
  background-color: #ffbb54;
}

#toggle_translate .tooltiptext {
  right: 12.5em;
}

#toggle_listen:hover {
  cursor: pointer;
}

#toggle_listen.selected {
  background-color: #ffbb54;
}

#toggle_listen .tooltiptext {
  right: 6.5em;
}

#toggle_undo:hover {
  cursor: pointer;
}

#toggle_undo.selected {
  background-color: #ffbb54;
}

#toggle_undo .tooltiptext {
  right: 0.5em;
}

.tool:hover .tooltiptext {
  visibility: visible;
}

.tool .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: 13px;
  background-color: #ffffff;
  color: #ffbb54;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  top: 6em;
  z-index: 1;
}

.bookmark_button:hover .bookmarkText {
  visibility: visible;
}

.bookmark_button .bookmarkText {
  margin-left: -0.5em;
  visibility: hidden;
  font-size: 13px;
  background-color: #ffffff;
  color: #ffbb54;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
}

.feedback_question {
  font-weight: bold;
  padding-bottom: 1em;
  font-size: large;
}

#question_reasons_not_to_finish,
#question_difficulty_for_finished_article {
  padding: 16px;
  text-align: left;
  font-size: small;
}

.altermenu {
  position: absolute;
  max-width: 30em;

  background-color: lightgoldenrodyellow;
  /* background: #ffe086; */

  color: white;
  /* text-align: center; */

  border-radius: 0.3em;
  /* width: 8em; */
  /* padding: 0.3em; */
  margin-top: 0.5em;
  /* margin-top: 3.3em; */
}

.altermenu .additionalTrans {
  /* width: 100%; */
  height: 100%;
  text-transform: lowercase;
  white-space: normal;
  border-bottom: 1px solid #f8d486 !important;
  color: #383838;
  line-height: 1em;
  padding: 0.3em;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.altermenu * {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 0.9em;
}

.alterMenuContainer {
  display: none;
}

.searchTextfieldInput {
  color: #484848;
  font-weight: 400;
  /* text-align: center; */
  border: none;
  padding: 0.3em;
  font-size: x-small;
  background: lightgoldenrodyellow;
}

.matchWidth {
  width: 100%;
}

.mdl-js-snackbar {
  border-radius: 3em 3em 3em 3em;
  bottom: 2em;
}

p.title {
  margin-top: -1.5em;
  font-size: 27px;
  line-height: 1.7em;
  text-align: left;
  padding-bottom: 0em;
}

.p-article-reader {
  font-size: 1.3em;
  line-height: 3em;
  padding: 0.2em;
}

/* h1,
h2,
h3,
h4 {
  font-size: 1.4em;
  font-family: Montserrat;
} */

/* h5,
h6 {
  font-size: 0.7em;
} */

.seperator {
  border-radius: 5px;
  border: 1px solid #ffbb54;
  background-color: #ffbb54;
}

.articleDetails {
  display: flex;
  height: 5em;
}

#source {
  font-size: 16px;
  font-weight: 400;
}

#articleInfo {
  font-size: 1em;
  text-align: left;
  margin-left: 0em;
  color: grey;
  font-style: italic;
  font-size: 10px;
  line-height: 20px;
}

a {
  color: grey;
}

a:hover {
  color: #505050;
}

.bookmark_button {
  height: 4em;
  margin-right: 0em;
  margin-top: -0.5em;
  border: none;
  background: none;
  background-color: transparent;
}

.arrow-none-block:hover {
  color: #ffbb54;
}

.bookmark_button:hover {
  cursor: pointer;
}

.bookmark_icon_done {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.bookmark_icon_undone {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.page-content,
.questionnaire-content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: justify;
  padding-top: 3em;
}

.questionnaire-content {
  text-align: center;
}

#main_article_content {
  margin-bottom: 2em;
}

.page-content-container,
#bottom_feedback_div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 60em;
  background-color: white;
  border-radius: 0.3em;
}

.finalChoices {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.finalChoicesBottons {
  margin: 5px;
  width: 180px;
  height: 45px;
  border-color: #ffbb54;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  font-size: 18px;
}

#enjoyedButton {
  color: #ffbb54;
  background-color: white;
}

#reviewButton {
  color: white;
  background-color: #ffbb54;
}

#enjoyedButton,
#reviewButton:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 11;
  padding-top: 11em;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

#modalReview {
  padding-top: 6em;
}

.modalContent {
  border-radius: 1em;
  font-family: Montserrat;
  text-align: center;
  border: 0.2em solid #ffbb54;
  background-color: white;
  margin: auto;
  padding: 0.5em;
  width: 40em;
}

.modalTitle {
  font-size: 1.5em;
  padding-top: 1em;
  font-weight: 400;
}

.modalButton {
  font-size: 1.1em;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: 400;
  height: 2.2em;
  width: 6.5em;
  border-radius: 0.5em;
  border-style: none;
  background: #ffbb54;
  color: white;
}

.modalButton:hover {
  cursor: pointer;
}

.modalText {
  font-size: 1em;
  font-weight: 400;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 2em;
  line-height: 2em;
}

.textEnjoyed {
  margin-top: -1em;
  padding-bottom: 0.1em;
  line-height: 1.3em;
  padding-right: 8em;
  padding-left: 8em;
}

.reviewBtn {
  height: 3em;
  width: 13em;
  border-radius: 1em;
  margin-bottom: 1.5em;
}

.backArticles {
  background: white;
  color: #ffbb54;
  border: 0.15em solid;
}

.close {
  color: #ffbb54;
  float: right;
  font-size: 1.5em;
  width: 1.1em;
  border: 0.07em solid;
  padding-left: 0.05em;
  padding-right: 0.05em;
  border-radius: 1em;
}

.close:hover {
  cursor: pointer;
}

#wordList {
  width: 36.5em;
  height: 20em;
  line-height: 1.8em;
  font-size: 1em;
  text-align: left;
  margin-top: -0.5em;
  margin-bottom: 1.5em;
  margin-left: 2em;
  overflow-y: scroll;
  word-wrap: break-word;
}

#wordList::-webkit-scrollbar-track {
  border-radius: 2em;
  background-color: white;
}

#wordList::-webkit-scrollbar {
  width: 0.6em;
  background-color: white;
}

#wordList::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: #ffbb54;
}

#translatedwords-template {
}

.word {
  text-transform: lowercase;
}

.trash {
  padding-right: 0.5em;
}

.trash:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .modalContent {
    width: 91vw;
    padding: 1em 0em;
    z-index: 100001 !important;
  }

  .modal {
    z-index: 100000 !important;
  }

  .modalText {
    padding: 0em 1em;
  }
  .close {
    margin-right: 8px;
  }

  #modalReview {
    padding-top: 1em;
  }

  .reviewBtn {
    height: 8vh;
    width: 34vw;
  }

  #translationID {
    width: 67vw;
  }

  #wordList {
    height: 36vh;
  }

  .finalChoicesBottons {
    font-size: 1em;
    width: 38vw;
    height: 9vh;
  }

  .modalButton {
    font-size: 1em;
  }

  .modalText {
    font-size: 0.8em;
  }
  .page-content {
    text-align: left;
  }
}

@keyframes fadein {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  margin-right: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffbb54;
  border-radius: 10px;
  height: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffbb54;
}

/******** MEDIA QUERIES ********/
@media only screen and (max-width: 839px) {
  .bookmark_button:hover .bookmarkText {
    visibility: hidden;
  }

  .tool:hover .tooltiptext {
    visibility: hidden;
  }
}

@media only screen and (max-width: 781px) {
  .bookmark_button:hover .bookmarkText {
    visibility: hidden;
  }

  .tool:hover .tooltiptext {
    visibility: hidden;
  }
}
