.feedback_buttons_holder {
  display: flex;
  /* background-color: red; */
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.feedback_buttons_holder button {
  margin: 12px;
}

.discrete-link {
  color: lightgray;
  font-size: xx-small;
  margin-right: 2em;
}

.feedback_link_holder {
  text-align: right;
  width: 100%;
}
