label {
  display: block;
  width: 10em;
  float: left; /* makes the element act like inline block */
  clear: left; /* clears any left floats so before so this should start on new line */
  margin-top: 1em;
}

input {
  width: 10em;
  float: left;
  margin-top: 1em;
}

input[type='submit' i] {
  clear: both;
  margin-top: 3em;
}

select {
  width: 10em;
  float: left;
  margin-top: 1em;
}
