/*login page */

.loginPG {
  font-size: 18px;
  display: flex;
  height: 100vh;
  margin: auto;
  flex-direction: column;
}
.logoContainer1 {
  text-align: center;
  margin: 2em;
}

.loginBody {
  font-family: Montserrat;
  background: #ffbb54;
  height: 100%;
  width: 100%;
  top: 0;
}

.whiteBody {
  background: white;
  height: 100%;
  width: 100%;
  top: 0;
}

fieldset {
  border: none;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.logoContainer {
  width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 1.5em;
}

.outerContainer {
  width: 100%;
}

#authentificationBoxTitle {
  margin-top: -0.8em;
  margin-bottom: 1.5em;
  font-size: 1.3em;
}

.authentificationBox {
  background-color: white;
  padding: 2em 2em;
  margin-top: 1.5em;
  border-radius: 1em;
  border: 0.3em solid white;
  color: black;
  width: 20em;
}

label {
  display: inline-block;
  max-width: 100%;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0em;
}

.field {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 4px;
  height: 45px !important;
  font-size: 16px !important;
  padding-left: 0.4em;
  box-shadow: none;
  border: 0.1em solid #ffbb54;
  margin-bottom: 1em;
}

.field:focus {
  outline: none;
  border: 0.1em solid #ffbb54;
}

.formControl:focus {
  border-color: #ffbb54;
  box-shadow: none;
}

.inputField {
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill {
  background-color: #ffffff !important;
  background-image: none !important;
  color: #000000 !important;
}

label {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.loginButton {
  font-family: Montserrat;
  line-height: 2em;
  font-size: 16px;
  margin-top: 30px;
  font-size: 16px;
  margin-top: 1em;
  background: #ffbb54;
  border: none;
  margin-bottom: 0.5em;
  border-radius: 2em;
  width: 7em;
}

.resetButton {
  width: 10em;
  border-radius: 3em;
  margin-bottom: 1em;
}

.loginButton:hover {
  background: #ffbb54;
  border-color: #ffbb54;
}

.extraText {
  font-size: 79%;
}

.links {
  color: #ffbb54;
}

.links:hover {
  color: black;
}

.links:focus {
  color: black;
}

.help-inline {
  font-size: 0.8em;
  margin-left: 0.4em;
}

.alert-warning {
  color: black;
  background-color: #ffe086;
  border-radius: 0.3em;
  padding: 1em;
  font-size: 0.8em;
  margin-bottom: 1em;
  margin-top: 1.3em;
  box-shadow: none;
  border: none;
}

.close {
  float: right;
  font-size: 1em;
  border: none;
  background: transparent;
  font-weight: 400;
  margin-top: -0.55em;
  margin-right: -0.7em;
  color: black;
  opacity: 1;
  text-shadow: none;
}

.createAccount {
  width: 30em;
}

.custom {
  width: 20em;
}

.small {
  font-weight: 400;
}

.long {
  width: 25em;
}

.mail {
  color: #ffbb54;
}

.mail:hover {
  color: #ffbb54;
  text-decoration: underline;
}

.privacyNotice {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.createAccBtn {
  margin-left: 10.5em;
}

.reset {
  margin-top: -0.5em;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .authentificationBox {
    width: 69vw;
  }

  #authentificationBoxTitle {
    font-size: 25px;
    margin-top: 0.25em;
    margin-left: 1.5em;
  }

  label {
    font-size: 20px;
  }

  .loginButton {
    font-size: 15px;
    padding: 5px 5px;
  }

  .field {
    height: 50px !important;
    font-size: 20px !important;
  }

  .long,
  .custom {
    width: 15em;
  }

  .createAccBtn {
    margin-left: 4em;
  }
}

@media screen and (max-width: 375px) {
  #authentificationBoxTitle {
    font-size: 1.5em;
    margin-bottom: 0.7em;
    margin-left: 0em;
    margin-top: -0.3em;
  }

  .zeeguuLogo {
    width: 3em;
    margin-top: -1em;
  }

  .authentificationBox {
    width: 69vw;
  }

  .createAccount {
    padding: 1em 1em;
  }

  .long,
  .custom {
    width: 13.5em;
  }

  .smallerText {
    font-size: 16px;
  }

  .small {
    font-size: 80%;
  }

  .createAccBtn {
    margin-left: 3.5em;
  }
}

@media screen and (max-width: 360px) {
  .authentificationBox {
    width: 69vw;
  }

  .long,
  .custom {
    width: 14.5em;
    height: 2em !important;
  }

  .createAccBtn {
    margin-left: 4em;
  }

  .createTitle {
    padding-top: 0.4em;
  }

  .loginButton {
    margin-left: -0.5em;
  }
}

@media screen and (max-width: 320px) {
  .authentificationBox {
    width: 69vw;
  }

  .long,
  .custom {
    width: 11.5em;
    margin-bottom: 0em;
    height: 2em !important;
  }

  .createAccBtn {
    margin-left: 3em;
  }

  .logoContainer {
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 0.5em;
  }

  #authentificationBoxTitle {
    margin-top: 0em;
    margin-left: 0.6em;
    margin-bottom: 1em;
  }

  label {
    font-size: 16px;
  }

  .loginButton {
    margin-left: -1em;
  }
}
