.articleLinkEntry {
  border-left: solid #ffbb54;
  margin-top: 1.9375em;
  padding-left: 0.8125em;
  width: 600px;
}

.articleLinkTitle {
  font-size: 1.0416666666666667em;
  color: black;
  padding-right: 13.020833333333334em;
}
