/* Fixed sidenav, full height */

.sidenav {
  height: 100%;
  width: 12.5em;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #ffd047;
  overflow-x: hidden;
  padding-top: 1.25em;
  font-family: Montserrat;
  margin: auto;
  padding: 0;
  overflow: auto;
}

.zeeguuLogo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 3.375em;
}

.dropbtn {
  background-color: #ffbb54;
  color: white;
  padding: 1em;
  font-size: 1.25em;
  border: none;
  margin: unset;
  width: 100%;
  text-align: left;
  font-family: Montserrat;
}

.generalNavLinks {
  position: absolute;
  bottom: 0.625em;
  width: 100%;
}

.settingsbtn {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #ffbb54;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-top: -1.5em;
}

.settingsbtn:hover {
  cursor: pointer;
}

.settingsImg {
  width: 100%;
}

.nav-generalbtn {
  position: relative;
  width: 8.125em;
  height: 1.7em;
  background: #ffffff;
  border-radius: 1.25em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0.8125em;
  padding-top: 0.5em;
}

.generalLinks {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.25em;
  text-align: center;
  color: #ffbb54;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: block;
  bottom: 25%;
  top: 16%;
  z-index: 3;
}

.dropdown:hover {
  cursor: pointer;
}

.dropbtn span {
  position: absolute;
  right: 50px;
}

.dropbtn span:after {
  content: '˅';
}

.dropbtn span:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: #ffffff;
  min-width: 10em;
  z-index: 1;
}

.dropdown-content a {
  color: #ffbb54;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
  font-weight: 400;
  font-family: Montserrat;
  font-size: 1em;
}

.dropdown-content a:hover {
  color: #ffbb54;
  font-weight: 400;
  border-bottom: #ffbb54 0.5px solid;
  border-top: #ffbb54 0.5px solid;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: #ffbb54;
}

.arrow-icon {
  position: fixed;
  top: 7em;
  left: 9.5em;
  z-index: 11;
  color: white;
  transform: rotate(-90deg);
  text-decoration: none;
}

.arrow-icon:hover {
  color: white;
}

.arrow-icon:focus {
  color: white;
}

.dropbtn:hover span:after {
  content: '˄';
}

.dropbtn:hover {
  cursor: pointer;
}

.arrow-nav-icon {
  display: block;
  z-index: 32;
  font-size: 4em;
  padding: 0 !important;
  margin: 0;
  line-height: 0 !important;
}

.arrow-none-block {
  color: #ffbb54;
  position: fixed;
  top: 7em;
  left: 0em;
  z-index: 1;
  transform: rotate(90deg);
  text-decoration: none;
}

.arrow-none-block:focus {
  color: #ffbb54;
}

.arrow-none-block {
  color: #ffbb54;
}

#hidden {
  display: none;
  flex-wrap: wrap;
  margin-bottom: 1em;
  position: relative;
}

.hiddenSettingsBox {
  height: 9em;
  padding-bottom: 0.5em;
}

.hiddenOption {
  background: white;
  height: 1.5em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 0.5em;
  border-radius: 1em;
  text-align: center;
  flex: 25%;
}

.hiddenText {
  line-height: 1.5em;
  color: #ffbb54;
  text-decoration: none;
  font-weight: 500;
}

.hiddenOption:hover {
  cursor: pointer;
  background: #ffbb54;
}

.hiddenOption:hover .hiddenText {
  color: white;
  cursor: pointer;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }

  .arrow-icon {
    position: fixed;
    top: 4em;
    left: -0.5em;
    z-index: 11;
    color: white;
    transform: rotate(90deg);
  }

  .arrow-none-block {
    top: 4em;
    position: absolute;
    left: -0.8em;
  }

  .sidenav-mobile {
    display: none;
  }
}
