body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(164, 106, 0);
}
/* a:link {
  color: rgb(77, 52, 6);
  color: rgb(215, 140, 0);
}

a:visited {
  color: #222222;
  color: rgb(136, 89, 0);
  font-weight: 400;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
