/* Mobile Default */
.main-container {
  padding: 0.0625em 1em;
  margin-left: 2em;
  background-color: white;
}

/* Mobile toggled */
.main-container-toggled {
  background-color: white;
  margin-left: 7em;
}

@media screen and (min-width: 768px) {
  .main-container {
    background-color: white;
    margin-left: 12.5em;
  }

  .main-container-toggled {
    background-color: white;
  }
}
